# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
# Project
!static/
!static/*
!colony_counter.py
!main.py
!test.py
!README.md
!frontend/
!frontend/*
!frontend/**/*
# Project configs
!requirements.txt
!run_app.bat
!Scripts/
!Scripts/*